<footer class="site-footer gradient-bar">

  <div class="wrapper">
    <div class="footer-content">
        <h3>lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, cumque, voluptate. Repellendus pariatur, molestias, modi corporis, reprehenderit sequi unde esse voluptatum, tenetur saepe fugiat. Harum quidem commodi ratione voluptate magni.</p>
        <p>subscribe <a href={{ "/feed.xml" | prepend: site.beseurl }}">via RSS</a></p>  
    </div>
    <div class="footer-social">
            <ul>
                <li>
                    <a href="http://twitter.com/{{ site.twitter_username }}">
                        <img src="{{ site.baseurl }}/img/twitter.png" alt="twitter logo" width="40">
                    </a>
                </li
                <li>
                    <a href="http://github.com/{{ site.github_username }}">
                        <img src="{{ site.baseurl }}/img/github.png" alt="github logo" width="40">
                    </a>
                </li
            </ul>
        
        </div>
  </div>

</footer>
